.navbar {
   margin: 0%;
}

.navbar-default .navbar-brand {
    color: #fbf5f5;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: #00000082;
    border-radius: 6px
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f7f7f7;
    background-color: #00000082;
    border-radius: 6px
}

.text-center{
    margin:0; 
    background-color: #3f3f3f;
    
    padding: 2rem;
    
}

.jumbotron{
    height: 50vh ;
}

section .col-xs-12 {
    width: 100%;
    background-color: rgb(255, 255, 255);
}
body {    
    background-color: rgb(234, 229, 229);
}
P{
    padding: 2rem;
}
strong{
    margin: 10px 0 10px;
}

section .well {   
    padding: 19px 19px 0px 19px;
}
section .thumbnail{
    padding: 20px;
}
h2, .h2 {
    font-size: 22px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: right;
}
.biblio{
    float: right;
}
footer p{
    margin:0; 
    color: white;
   
    
}
.nosotros, .texto {
    
    height: 800px;
    
}